.App-header {
    background-color: rgb(9, 9, 34);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .App-heading {
    display: flex;
    background-color: inherit;
    align-items: flex-start;
    flex-direction: column;
    height: 80%;
    min-height: 80%;
    width: 80%;
    min-width: 80%;
  }
  
  .name {
    width: 100%;
    text-align: center;
    font-size: 45px;
  }
  
  .about {
    padding: 1.5em;
    font-size: 20px;
    text-align: center;
  }
  